.navbar-brand, .nav-link, .fila > h1,h2,h3{
    font-family: 'Gemunu Libre', sans-serif;
    color:white;
}
    
.bg.dark{
    background-color: rgba(1, 7, 13, 0.711);
}
body{
    background: rgb(141,45,127);
    background: radial-gradient(circle, rgba(141,45,127,1) 0%, rgba(0,0,0,1) 100%);
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
.fila {
    height: 10vh;
}
.fila >h2 {
    text-align: start;
}
.photo {
    height: 11em;
    width: 11em;
}




