// PATRON DE COLORES
$principal: #6610f2;
// COLORES BOOTSTRAP

// MODIFICANDO VARIABLES BOOTSTRAP
$primary: $principal;
//
@import "../libs/bootstrap/scss/bootstrap";
@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/maps";
@import "../libs/bootstrap/scss/mixins";
@import "../libs/bootstrap/scss/utilities";

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);
