<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<div class="proyectos">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <br>
          <h1 class="align-self-center" style="font-size:3.5em; color:#00358e"> Proyectos </h1>
        <br>
      </div>
      <div class="row d-flex d-inline-flex text-center align-items-center">
        <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 text-center flex-auto align-self-center" style="width: 16rem; border-color: #00358e; padding:10px;background-color: #00358e; ">
          <img src="../../../assets/wonstermanga.jpeg" class="card-img-top" alt="wonstermanga" style="border: 1px #f8f9fa solid;">
          <div class="card-body" style="color:#f8f9fa">
            <h5 class="card-title">Wonster Manga</h5>
            <p class="card-text">Aplicación web ecommerce realizada con ASP.NET, MVC, Entity Framework y SQL Server</p>
            <a href="#" class="btn btn-primary" style="background-color: #f8f9fa; color:#00358e;">Ir a GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>
