<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <div class="container" *ngIf="skill.nombre != ''">
    <div class="row">
      <div class="">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreE">Nombre de la Institución</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la habilidad" [(ngModel)]="skill.nombre" required>
          </div>
          <div class="form-group">
            <label for="descripcionE">Descripción:</label>
            <input type="text" class="form-control" id="porcentaje" name="porcentaje" placeholder="Porcentaje" [(ngModel)]="skill.porcentaje" required>
          </div>
          <div class="form-group">
            <label for="desdehastaE">Descripcion habilidad: </label>
            <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="" [(ngModel)]="skill.subtitle" required>
          </div>
          <button class="btn-primary">Editar Institución</button>
        </form>
      </div>
    </div>
  </div>
