<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<div class="habilidades">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <br>
          <h1 class="align-self-center" style="font-size:3.5em; color:#00358e"> Habilidades </h1>
        <br>

      </div>
      <div class="row ">
        <!-- <div class="col-12 align-self-center" style="display:flex;"> -->
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'HTML'"
            [percent]="95">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'CSS'"
            [percent]="90">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'JavaScript'"
            [percent]="70">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'Angular'"
            [percent]="50">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'TypeScript'"
            [percent]="50">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'ASP.NET'"
            [percent]="85">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'Java'"
            [percent]="50">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'SpringBoot'"
            [percent]="50">
            </circle-progress>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xs-6 text-center">
            <circle-progress [title]="'Bootstrap'"
            [percent]="80">
            </circle-progress>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>
