.social{
  width: 10%;
  margin-top:15px;
  display:-webkit-inline-flex;
  margin-left: -15%;
}
.login {
  display: flex;
}
.btn-ap{
  color: #00358e;
  background-color:#e6e6e6;
  height: 60px;
  width: 125px;
  margin-left: 1.8em;
  border-radius: 20px;
  font-size: large;
  transition: all 0.5s ease;
}
.btn-ap:hover{
  position: initial;
  background-color:#00358e;
  color:#e6e6e6;
  width: 130px;
  height: 60px;
  transition: all 0.5s ease;
  margin-left: 1em;
}
#facebook{
width:60px;
transition: all 0.5s ease;
margin-left:2%;
box-shadow: 0;
}
#instagram{
width:60px;
transition: all 0.5s ease;
margin-left:2%;
box-shadow: 0;
}
#linkedin{
width:60px;
transition: all 0.5s ease;
margin-left:2%;
box-shadow: 0;
}
#github{
width:60px;
transition: all 0.5s ease;
margin-left:2%;
box-shadow: 0;
}
#twitter{
  width:60px;
  transition: all 0.5s ease;
  margin-left:2%;
  box-shadow: 0;
}
#facebook:hover{
  width: 65px;
  transition: all 0.5s ease;
}
#instagram:hover{
  width: 65px;
  transition: all 0.5s ease;
}
#github:hover{
  width: 65px;
  transition: all 0.5s ease;
}
#twitter:hover{
  width: 65px;
  transition: all 0.5s ease;
}
#linkedin:hover{
  width: 65px;
  transition: all 0.5s ease;
}

