.social{
  min-width: 400px;
  margin-top:15px;
}
#facebook{
width:65px;
margin-left:2%;
}
#instagram{
width:65px;
margin-left:2%;
}
#linkedin{
width:65px;
margin-left:2%;
}
#github{
width:65px;
margin-left:2%;
}
#twitter{
  width:65px;
  margin-left:2%;
}

