<div class="social">
<a href="https://github.com/Nemka201"><img src="../../../assets/github.png" id="github" alt="GitHub"> </a>
<a href="https://www.linkedin.com/in/benjam%C3%ADn-rey-171386213/"><img src="../../../assets/linkedin.png" id="linkedin" alt="Linkedin"> </a>
<a href="https://www.facebook.com/Nemka201/"><img src="../../../assets/facebook.png" id="facebook" alt="Facebook"> </a>
<a href="https://www.instagram.com/benja._rey/"><img src="../../../assets/instagram.png" id="instagram" alt="Instagram"> </a>
<!-- <a href=""><img src="../../../assets/twitter.png" id="twitter" alt="150px"> </a> -->
<app-login></app-login>
</div>
