<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <app-logo-ap></app-logo-ap>
                  <h4 class="mt-1 mb-5 pb-1">Portafolio #YoProgramo</h4>
                </div>

                <form>
                  <p>Ingresa con tu Cuenta</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Ingrese su usuario" />
                    <label class="form-label" for="form2Example11">Usuario</label>
                    <input type="password" id="form2Example22" class="form-control" />
                    <label class="form-label" for="form2Example22">Contraseña</label>
                  </div>
                  <br>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" id="ingresar">Ingresar</button>
                    <a class="text-muted" href="#!">Olvide mi contraseña</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                  <p class="mb-0 me-2">No tienes una cuenta todavía?</p>
                    <button type="button" class="btn btn-primary gradient-custom-2" id="registrar">Crear</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Argentina Programa</h4>
                <p class="small mb-0">Argentina Programa es una iniciativa del gobierno argentino
                   que busca fomentar el desarrollo de habilidades digitales en la población del país.
                   Esta iniciativa se basa en la idea de que el acceso y uso de la tecnología es fundamental
                   para el desarrollo social y económico del país, por lo que busca promover la educación
                   digital a través de diferentes programas y actividades.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
