<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">
</head>
<div class="header">
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-12 text-center d-flex flex-column " style="background-color: #00358e;">
        <br>
        <div class="profile align-self-baseline">
          <img src="../../../assets/fotoperfil.jpg" alt="Foto de perfil">
        </div>
        <div class="text align-self-center">
          <h4><strong>Full Stack-Developer</strong></h4>
          <h2><strong>Acerca de mi</strong></h2>
          <h1>{{persona.nombre}}{{" "}}{{persona.apellido}}</h1>
        </div>

        <br>
      </div>
      <div class="row">
        <div class="col-xl-2 col-lg-2">

        </div>
        <div class="col-xl-10 col-lg-10 text-start">
          <br><br>
          <h3>Tengo 22 años, apasionado por la tecnología, actualmente estoy cursando la carrera de Tecnicatura Universitaria en programación,
            además uso mi tiempo libre para seguir profundizando otros conceptos en paralelo.</h3>
          <h3>Me gusta trabajar en equipo, los desafíos y perfeccionar mis habilidades. </h3>
        </div>

      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>
