.navbar-brand, .nav-link, .fila > h1,h2,h3{
    font-family: 'Gemunu Libre', sans-serif;
    color:white;
}

.bg.dark{
    background-color: rgba(1, 7, 13, 0.711);
}
body{
    background: #eef5f9;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
.fila {
    height: 10vh;
}
.fila >h2 {
    text-align: start;
}
.photo {
    height: 11em;
    width: 11em;
}




